@use '../styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;

  &__horizontal {
    display: flex;
    flex-direction: row;

    .image {
      margin-right: 1rem;
    }
  }

}

.image {
  width: 15rem;
  height: 9rem;
  background: $white;
  position: relative;
}

.mainText {
  margin: 0 0 -0.5rem 0;
}