@use '../styles/variables' as *;

.container {
  width: 100%;
  min-height: 50vh;
  height: 650px;
  max-height: 80vh;
  background: $dark-black;
  display: flex;
  justify-content: center;
  align-items: center;
}