@use '../styles/variables' as *;

.sidebar {
  margin: 60px 0 0 0;
  width: 12rem;
  height: 100vh;
  background: $white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;

  &__top {
    display: flex;
    flex-direction: column;
    max-height: 35vh;
    width: 100%;

    > select {
      outline: 0;
      width: fit-content;
      font-size: $p-font-size;
      border-radius: 0.75rem;
      font-family: $font-family;
      align-self: center;
      margin-bottom: 1rem;
    }

    > div {
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }

    /* width */
    ::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: $light-gray;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: $gray;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: $black;
    }

  }

  &__link, a {
    padding: 0.25rem 0;
  }
}

@media only screen and (max-width: $md) {
  .sidebar {
    display: none;
  }
}