@use '../styles/variables' as *;

.container {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.topSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 1.5rem;

  > div {
    margin: 0.25rem 0.5rem 0.5rem 0.5rem;
  }
}

.addCourse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  button {
    outline: 0;
    border: 1px solid $black;
    border-radius: 50%;
    text-align: center;
    padding: auto;
    margin: 0.5rem;
    height: 50px;
    width: 50px;
    font-size: 2em;
    background: $white;
  }
}